.git
.github

node_modules
**/node_modules

target
**/target

.terraform
**/.terraform

.env
.env*.local
*.pem

.DS_Store

coverage
mutants.out
**/mutants.out

.output
**/.output
.nitro
**/.nitro
.tanstack
**/.tanstack
.wrangler
**/.wrangler

*.tsbuildinfo
npm-debug.log*
